<div class="wrapper">
    <div filter-color="orange" style="height: 80px; background: orangered"></div>
    <div class="section">
        <div class="row">
            <p></p>
        </div>


        <div class="container">
            <div class="card">
                <div class="card-header">
                    ROOM LIST
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 10%">Floor</th>
                            <th scope="col">Room Number</th>
                            <th scope="col">Type</th>
                            <th scope="col">Rate</th>
                            <th scope="col" style="width: 10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let room of roomList">
                            <td>{{room.floor}}</td>
                            <td>{{room.number}}</td>
                            <td>{{room.type}}</td>
                            <td>{{room.rate}}</td>
                            <td>
                                <button (click)="setRoom(room);openModal(editRoom,'sm')" class="btn btn-primary btn-icon btn-round"
                                        title="Edit rooms" type="button">
                                    <i class="now-ui-icons ui-1_settings-gear-63">
                                    </i>
                                </button>
                                <button (click)="deleteRoom(room)" class="btn btn-primary btn-icon btn-round"
                                        title="Delete Room" type="button">
                                    <i class="now-ui-icons ui-1_simple-remove">
                                    </i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <a (click)="setRoomTypeModel(); openModal(addRoom,'sm')" class="btn btn-primary">
                            Add Room</a>
                        <a (click)="setRoomTypeModel();openModal(roomTypeEdit,'lg')" class="btn btn-primary">
                            Edit Room Types</a>
                    </div>
                </div>
            </div>

        </div>
        <!--    /////////////////////////////MODAL//////////////////////////////////-->
    </div>
    <ng-template #roomTypeEdit let-c="close" let-d="dismiss">
        <div class="modal-header justify-content-center">
            <button (click)="d('Cross click')" class="close" type="button">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up justify-content-center">Room Type</h4>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="nav-tabs-navigation" data-tabs-color="orange">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 30%;">Type</th>
                            <th scope="col" style="width: 50%;">Rate</th>
                            <th scope="col" style="width: 20%;">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let type of rtTemp; let index = index"
                            [attr.data-index]="index">
                            <td>
                                <input [(ngModel)]="type.name" class="form-control" name="name" placeholder="Name"
                                       type="text" required>
                            </td>
                            <td>
                                <input [(ngModel)]="type.rate" class="form-control" name="Rate" placeholder="Phone"
                                       type="number" required>
                            </td>
                            <td>
                                <button (click)="deleteType(type)" class="btn btn-primary btn-icon btn-round"
                                        title="Delete" type="button">
                                    <i class="now-ui-icons ui-1_simple-remove">
                                    </i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-footer justify-content-center">
            <button (click)="createType()" class="btn btn-primary" type="button">
                New
            </button>
            <button (click)="updateRoomType()" class="btn btn-primary" type="button">
                Save
            </button>
        </div>
    </ng-template>


    <!--    CREATE ROOM-->
    <ng-template #addRoom let-c="close" let-d="dismiss">
        <div class="modal-header justify-content-center">
            <button (click)="d('Cross click')" class="close" type="button">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up justify-content-center">Create new booking</h4>
        </div>
        <div class="modal-body">
            <span class="badge badge-primary">Floor Number</span>
            <input [(ngModel)]="roomCreate.floor" class="form-control" name="booker" placeholder="Floor Number"
                   type="number">
            <span class="badge badge-primary">Room Number</span>
            <input [(ngModel)]="roomCreate.number" class="form-control" name="booker" placeholder="Room Number"
                   type="number">


            <span class="badge badge-primary">Room Type</span>
            <div>
                <select (ngModelChange)="setRoomType($event)" [ngModel]="roomTypeList" aria-label="Select Room Type"
                        class="form-select col-12" title="Room Type">
                    <option *ngFor="let type of roomTypeList" [ngValue]="type">{{type.name}}</option>
                </select></div>
        </div>

        <div class="modal-footer justify-content-center">
            <button (click)="createRoom()" class="btn btn-primary" type="button">
                Create
            </button>
        </div>
    </ng-template>
    <!--    EDITROOM-->
    <ng-template #editRoom let-c="close" let-d="dismiss">
        <div class="modal-header justify-content-center">
            <button (click)="d('Cross click')" class="close" type="button">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up justify-content-center">Edit Room</h4>
        </div>
        <div class="modal-body">
            <span class="badge badge-primary">Floor Number</span>
            <input [(ngModel)]="roomSelected.floor" class="form-control" name="booker" placeholder="Floor Number"
                   type="number">
            <span class="badge badge-primary">Room Number</span>
            <input [(ngModel)]="roomSelected.number" class="form-control" name="booker" placeholder="Room Number"
                   type="number">


            <span class="badge badge-primary">Room Type</span>
            <div>
                <select (ngModelChange)="setRoomType($event)" [ngModel]="roomTypeList" aria-label="Select Room Type"
                        class="form-select col-12" title="Room Type">
                    <option *ngFor="let type of roomTypeList" [ngValue]="type"
                            [selected]="roomSelected.typeID==type.id">{{type.name}}</option>
                </select></div>
        </div>

        <div class="modal-footer justify-content-center">
            <button (click)="saveRoom()" class="btn btn-primary" type="button">
                Save
            </button>
        </div>
    </ng-template>

</div>
