<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form action="" class="form" method="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img alt="" src="assets/img/now-logo.png">
                        </div>
                    </div>
                    <div class="content">
                        <div [ngClass]="{'input-group-focus':focus===true}"
                             class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                            </div>
                            <input (blur)="focus=false" (focus)="focus=true" class="form-control" placeholder="First Name..."
                                   type="text">
                        </div>
                        <div [ngClass]="{'input-group-focus':focus1===true}"
                             class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                            </div>
                            <input (blur)="focus1=false" (focus)="focus1=true" class="form-control" placeholder="Last Name..."
                                   type="text"/>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-primary btn-round btn-lg btn-block" href="#pablo">Get Started</a>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a class="link" href="#pablo">Create Account</a>
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a class="link" href="#pablo">Need Help?</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div>
