<div class="wrapper">
    <div filter-color="orange" style="height: 80px; background: orangered"></div>
    <div class="section">
        <div class="container">
            <div class="button-container">
                <a (click)="openModal(create,'xl')" class="btn btn-primary btn-round btn-lg">Create Booking</a>
            </div>
            <!--            Tìm kiếm-->
            <div class="row">
                <div class="col-sm-6 col-lg-1"><BR><BR></div>
                <div class="col-sm-6 col-lg-1"><BR><BR>ARIVAL</div>
                <div class="col-sm-6 col-lg-3">
                    <span class="badge badge-primary">From</span>
                    <div class="datepicker-container">
                        <div class="form-group">
                            <input #df="ngbDatepicker" (click)="df.toggle()"
                                   [(ngModel)]="date_from" class="form-control datetimepicker" data-color="orange" name="date_from"
                                   ngbDatepicker
                                   placeholder="06/07/2017">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <span class="badge badge-primary">To</span>
                    <div class="datepicker-container">
                        <div class="form-group">
                            <input #dt="ngbDatepicker" (click)="dt.toggle()"
                                   [(ngModel)]="date_to" [minDate]="df" class="form-control datetimepicker" data-color="orange"
                                   name="dp"
                                   ngbDatepicker placeholder="06/07/2017">
                        </div>
                    </div>
                </div>
                <button (click)="search()" class="btn btn-primary btn-round btn-lg" type="button"> Search</button>
            </div>
        </div>
        <div class="row">
            <p></p>
        </div>


        <div class="container">
            <div *ngFor="let booking of bookingList" class="card">
                <div class="card-header">
                    BOOKING NO.{{booking.id}} ({{booking.date_from|date:'dd/MM/YYYY'}}
                    -{{booking.date_to|date:'dd/MM/YYYY'}})
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 10%">Room #</th>
                            <th scope="col">Total Guest</th>
                            <th scope="col">Guest</th>
                            <th scope="col">Room Type</th>
                            <th scope="col">Rate</th>
                            <th scope="col" style="width: 10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let room of booking.roomingList">
                            <td>
                                <strong>{{room.room_number}}</strong>
                            </td>
                            <td>{{room.guestList.length}}</td>
                            <td>
                                <table class="table table-borderless">
                                    <tr *ngFor="let ppl of room.guestList">
                                        <td>{{ppl.gender ? "Mr." : "Mrs."}} {{ppl.name}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>{{room.roomType}}</td>
                            <td>{{room.rate|currency:"VND"}}</td>
                            <td>
                                <button (click)="setRoom(room);openModal(editGuest,'xl')" class="btn btn-primary btn-icon btn-round"
                                        title="Edit guests" type="button">
                                    <i class="now-ui-icons users_circle-08">
                                    </i>
                                </button>
                                <button (click)="deleteRoom(room)" class="btn btn-primary btn-icon btn-round"
                                        title="Delete Room" type="button">
                                    <i class="now-ui-icons ui-1_simple-remove">
                                    </i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center">
                        <a (click)="setSelectedBooking(booking);getAvailableByDate(booking.date_from,booking.date_to);openModal(addRoom,'sm')"
                           class="btn btn-primary">Add
                            room</a>
                        <a (click)="setSelectedBooking(booking);openModal(edit,'xl')" class="btn btn-primary">Edit
                            Booking</a>
                        <a (click)="deleteBooking(booking.id)" class="btn btn-danger">Delete</a></div>
                </div>
            </div>

        </div>
    </div>


    <!--    /////////////////////////////MODAL//////////////////////////////////-->


    <!--    CREATE BOOKING-->
    <ng-template #create let-c="close" let-d="dismiss">
        <div class="modal-header justify-content-center">
            <button (click)="d('Cross click')" class="close" type="button">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up justify-content-center">Create new booking</h4>
        </div>
        <h6 *ngIf="error_message!=''" class="title title-up justify-content-center"
            style="color: red">{{error_message}}</h6>
        <div class="modal-body">
            <span class="badge badge-primary">Booker</span>
            <input [(ngModel)]="bookingCreate.booker" class="form-control" name="booker" placeholder="Booker"
                   type="text">
            <span class="badge badge-primary">Notice</span>
            <input [(ngModel)]="bookingCreate.notice" class="form-control" name="notice" placeholder="Notice"
                   type="text">
            <div class="row">
                <div class="datepicker-container col-sm-6">
                    <span class="badge badge-primary">Date from</span>
                    <div class="form-group">
                        <input #dfn="ngbDatepicker" (click)="dfn.toggle()"
                               (ngModelChange)="getAvailable(date_from_create,date_to_create)" [(ngModel)]="date_from_create"
                               class="form-control datetimepicker" data-color="orange"
                               name="date_from_create"
                               ngbDatepicker
                               placeholder="06/07/2017">
                    </div>
                </div>
                <div class="datepicker-container col-sm-6">
                    <span class="badge badge-primary">Date to</span>
                    <div class="form-group">
                        <input #dft="ngbDatepicker" (click)="dft.toggle()"
                               (ngModelChange)="getAvailable(date_from_create,date_to_create)" [(ngModel)]="date_to_create"
                               class="form-control datetimepicker" data-color="orange"
                               name="date_to_create"
                               ngbDatepicker
                               placeholder="06/07/2017">
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="nav-tabs-navigation" data-tabs-color="orange">
                    <div class="nav-tabs-wrapper">
                        <ngb-tabset [justify]="'center'" class="text-center">
                            <ngb-tab *ngFor="let type of available"
                                     title="{{type.roomType}} ({{type.roomList.length}})">
                                <ng-template ngbTabContent>
                                    <div class="row">
                                        <div *ngFor="let room of type.roomList" class="form-check col-sm-2">
                                            <label class="form-check-label">
                                                <input (change)="changeSelect(room.id)" class="form-check-input"
                                                       type="checkbox">
                                                <span class="form-check-sign">
                                                {{room.number}}</span>
                                            </label>
                                        </div>
                                    </div>

                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
            <h4 style="text-align: center; color: orangered">SELECTED ROOMS: {{bookingCreate.roomList.length}}</h4>
        </div>

        <div class="modal-footer justify-content-center">
            <button (click)="createBooking(date_from_create, date_to_create)" class="btn btn-primary" type="button">
                Create
            </button>
        </div>
    </ng-template>

    <!--EDITBOOKING-->
    <ng-template #edit let-c="close" let-d="dismiss">
        <div class="modal-header justify-content-center">
            <button (click)="d('Cross click')" class="close" type="button">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up justify-content-center">Edit booking</h4>
        </div>
        <div class="modal-body">
            <span class="badge badge-primary">Booker</span>
            <input [(ngModel)]="bookingSelected.booker" class="form-control" name="booker" placeholder="Booker"
                   type="text">
            <span class="badge badge-primary">Notice</span>
            <input [(ngModel)]="bookingSelected.notice" class="form-control" name="notice" placeholder="Notice"
                   type="text">
            <div class="row">
                <div class="datepicker-container col-sm-6">
                    <span class="badge badge-primary">Date from</span>
                    <input [ngModel]="bookingSelected.date_from|date:'shortDate'" class="form-control" disabled name="notice"
                           placeholder="Notice" type="text">
                </div>
                <div class="datepicker-container col-sm-6">
                    <span class="badge badge-primary">Date to</span>
                    <input [ngModel]="bookingSelected.date_to|date:'shortDate'" class="form-control" disabled name="notice"
                           placeholder="Notice" type="text">
                </div>
            </div>


            <div class="card">
                <div class="nav-tabs-navigation" data-tabs-color="orange">

                </div>
            </div>
        </div>

        <div class="modal-footer justify-content-center">
            <button (click)="createBooking(date_from_create, date_to_create)" class="btn btn-primary" type="button">
                Create
            </button>
        </div>


    </ng-template>

    <!--EDITGUEST-->
    <ng-template #editGuest let-c="close" let-d="dismiss">

        <div class="modal-header justify-content-center">
            <button (click)="d('Cross click')" class="close" type="button">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up justify-content-center">Room {{roomEditSelected.room_number}}</h4>
        </div>
        <div class="modal-body">

            <div class="card">
                <div class="nav-tabs-navigation" data-tabs-color="orange">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 20%;">Name</th>
                            <th scope="col" style="width: 15%;">Gender</th>
                            <th scope="col" style="width: 25%;">Address</th>
                            <th scope="col" style="width: 15%;">Phone</th>
                            <th scope="col" style="width: 15%;">Personal_id</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let guest of roomEditSelected.guestList; let index = index"
                            [attr.data-index]="index">
                            <td>
                                <input [(ngModel)]="guest.name" class="form-control" name="name" placeholder="Name"
                                       type="text">
                            </td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input (change)="changeGender(index)" [checked]="guest.gender"
                                               class="form-check-input" type="checkbox">
                                        <span class="form-check-sign"></span> {{guest.gender ? "Mr" : "Mrs"}} </label>
                                </div>
                            </td>
                            <td>
                                <input [(ngModel)]="guest.address" class="form-control" name="address" placeholder="Address"
                                       type="text">
                            </td>
                            <td>
                                <input [(ngModel)]="guest.phone" class="form-control" name="Phone" placeholder="Phone"
                                       type="text">
                            </td>
                            <td>
                                <input [(ngModel)]="guest.personal_id" class="form-control" name="Phone" placeholder="Phone"
                                       type="text">
                            </td>
                            <td>
                                <button (click)="setGuest(index);openModal(findGuest,'lg')" class="btn btn-primary btn-icon btn-round"
                                        title="Delete" type="button">
                                    <i class="now-ui-icons ui-1_zoom-bold">
                                    </i>
                                </button>
                                <button (click)="deleteGuest(index)" class="btn btn-primary btn-icon btn-round"
                                        title="Delete" type="button">
                                    <i class="now-ui-icons ui-1_simple-remove">
                                    </i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-footer justify-content-center">
            <button (click)="addGuest()" class="btn btn-primary" type="button">
                Add Guest
            </button> &nbsp;&nbsp;
            <button (click)="saveGuestList()" class="btn btn-primary" type="button">
                Save
            </button>
        </div>
    </ng-template>

    <!--CREATE ROOM-->
    <ng-template #addRoom let-c="close" let-d="dismiss">

        <div class="modal-header justify-content-center">
            <button (click)="d('Cross click')" class="close" type="button">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up justify-content-center">Add Room</h4>
        </div>
        <div class="modal-body">

            <div class="card nav-align-center">

                <span class="badge badge-primary">Room Type</span>
                <div>
                    <select (ngModelChange)="setRoomList($event.roomList)" [ngModel]="available" aria-label="Select Room Type"
                            class="form-select col-8" title="Room Type">
                        <option *ngFor="let type of available" [ngValue]="type">{{type.roomType}}
                            ({{type.roomList.length}})
                        </option>
                    </select></div>
                <span class="badge badge-primary">Room Number</span>
                <div>
                    <select (ngModelChange)="setAddOrUpdateRoom($event)" [ngModel]="roomList" aria-label="Select Room Type"
                            class="form-select col-8">
                        <option *ngFor="let room of roomList" [ngValue]="room">{{room.number}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="modal-footer justify-content-center">
            <button (click)="createRoom()" class="btn btn-primary" type="button">
                Save
            </button>
        </div>
    </ng-template>

    <!--    FIND GUESTS-->
    <ng-template #findGuest let-c="close" let-d="dismiss">

        <div class="modal-header justify-content-center">
            <button (click)="d('Cross click')" class="close" type="button">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up justify-content-center">Search</h4>
        </div>
        <div class="modal-body">
            <input [(ngModel)]="search_info" class="form-control" name="booker" placeholder="Name / Phone / Personal ID"
                   type="text">
            <button (click)="searchGuest()" class="btn btn-primary btn-icon btn-round text_align-center" type="button">
                <i
                        class="now-ui-icons gestures_tap-01"></i></button>
            <div style="height: 30px"></div>
            <div class="card">
                <div class="nav-tabs-navigation" data-tabs-color="orange">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 25%;">Name</th>
                            <th scope="col" style="width: 15%;">Gender</th>
                            <th scope="col" style="width: 20%;">Address</th>
                            <th scope="col" style="width: 20%;">Phone</th>
                            <th scope="col" style="width: 10%;">Action</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let guest of search_result; let index = index"
                            [attr.data-index]="index">
                            <td>
                                {{guest.name}}
                            </td>
                            <td>
                                {{guest.gender ? "Mr" : "Mrs"}}
                            </td>
                            <td>
                                {{guest.address}}
                            </td>
                            <td>
                                {{guest.phone}}
                            </td>
                            <td>
                                <button (click)="assignGuest(guest);c('Close click')" class="btn btn-primary btn-sm">
                                    SELECT
                                </button>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
        </div>
    </ng-template>

</div>
